<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018897764585-ge4lmlt6ue1gv3t15qqigt7qkjr3juph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018897764585-ge4lmlt6ue1gv3t15qqigt7qkjr3juph</string>
	<key>API_KEY</key>
	<string>AIzaSyB6KueRuTZMdxQOlvwvzDCjvBzIQeb3z10</string>
	<key>GCM_SENDER_ID</key>
	<string>1018897764585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-234ee</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-234ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018897764585:ios:382c450eb3d87b20772078</string>
</dict>
</plist>